
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: rgb(216, 246, 236);
}

/* Header Section */

#first {

    height: 80px;
    display: flex;
    justify-content: space-between;
}

 .logo {
    width: 60px;
    height: 50px;
    margin: 10px 50px;
}

#span {
    display:flex;
}

.icon {
    font-size: 1cm;
    color: rgb(34, 1, 1);
}

#first button {
    margin: 20px 50px 20px 10px;
    background: rgba(9, 30, 30, 0.793);
    height: 30px;
    width: 70px;
    border-radius: 10%;
    color: white;
}


header {
    width: 100%;
    height: 40px;
    background-color: rgb(9, 56, 57);

}
header a {
    
    padding-left:15px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

nav {
    margin: 10px 0 10px 30%;
}

#mobile {
    background-color: rgb(9, 56, 57);
    height: 40px;
    display: none;
}

#mobile button {
    margin: 5px 0 5px 200px;
    background: rgb(255, 255, 255);
    height: 30px;
    width: 70px;
    border-radius: 10%;
    color: rgb(4, 17, 20);
    font-weight: 700;
}

.mobile {
    color: white;
    font-size: 20px;
    background-color: rgb(9, 56, 57);
    margin: 5px 50px;
    height: 30px;
    width: 80px;
    border: none;
}

/* Section 2 - Tem-care*/

.temcare {
    border-radius: 50px;
    max-width: 100%;
    width: 98%;
    background: linear-gradient(rgb(4, 64, 85), rgb(9, 152, 152), green);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    margin: 10px;
    animation-name: taiwo;
    animation-duration: 10s;
    transition: 2s ease-in-out;
    animation-iteration-count: infinite;
    
}
.temcare h1 {
    color: white;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 700;
    opacity: 0;
    transition: 2s ease-in-out;
    animation-name: H1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.temcare h2 {
    color: rgb(16, 223, 202);
    margin-left: 110px;
    font-size: 30px;
    font-weight: 700;
    opacity: 0;
    transition: 2s ease-in;
    animation-name: H2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.temcare p {
    color: BLACK;
    margin-left: 70px;
    font-size: 16px;
    font-style: italic;
    transition: 3s ease-in-out;
    animation-name: p;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

.temcare img {
    width: 120px;
    height: 120px;
    margin: 50px 0 0 10%;
    animation-name: tem;
    animation-duration: 10s;
    transition: 2s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes taiwo {
    0% {background: linear-gradient(rgb(4, 64, 85), rgb(9, 152, 152), green);
        background-repeat: no-repeat;
    }
    40% {background: linear-gradient(rgb(4, 64, 85), rgb(9, 152, 152), green);
        background-repeat: no-repeat;
    }
    60% {background-image: url(istockphoto-1142519210-612x612.jpg);
        background-repeat: no-repeat;
    }
    80% {background-image: url(istockphoto-1142519210-612x612.jpg);
        background-repeat: no-repeat;
    }
    100% {background-image: url(istockphoto-1142519210-612x612.jpg);
        background-repeat: no-repeat;
    }
    }
@keyframes H1 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.5;
    }

    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
        
    }

    80% {
        opacity: 1;
        color: rgb(16, 236, 111)
    }

    100% {
        opacity: 1;
        color: rgb(24, 214, 243)
    }
}

@keyframes H2 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0.2;
        color: rgb(16, 236, 111)
    }

    60% {
        opacity: 0.5;
        color: rgb(16, 236, 111)
    }

    80% {
        opacity: 1;
        color: rgb(16, 236, 111)
    }

    100% {
        opacity: 1;
        color: rgb(24, 214, 243)
    }
}

@keyframes p {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes logo {
    0% {
        opacity: 0;
    }

    20% {
        opacity: .5;
    }

    40% {
    
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tem {
    0% {
        opacity: 0;
    }

    20% {
        opacity: .5;
    }

    40% {
    
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* Images Slider Section*/ 

.slide {
    margin: 30px;
    display:flex;
    justify-content: space-around;
    height: 400px;
    max-width: 95%;
}

.about {
    width: 40%;
    text-align: justify;
}

.display {
    width: 50%;
    height: 350px;
    background: url(istockphoto-458633357-612x612.jpg);
    background-repeat: no-repeat;
    animation-name: display;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    transition: 2s linear;
}

.slider-nav {
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: -400px;
    left: 20%;
}

.slider-nav a {
    width: .2cm;
    height: .2cm;
    border-radius: 50%;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    transition: opacity ease .5s;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Services Section */
.taiwo {
    background: white;
    margin: 30px;
}

.services {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    width: 90%; 
    height: 400px;
    margin: 20px 60px;
    background: rgb(244, 248, 248);
}

.roles {
    width: 45%;
    height: 400px;
    
}

.roles img {
    height: 200px;
    width: 350px;
    margin: 20px;
    
}
.roles button {
    width: 250px;
    height: 70px;
    color: white;
    background-color: rgb(208, 74, 199);
    font-size: 20px;
    font-weight: 900;
    margin-left: 15%;
    border-radius: 30px;
    border: none;
}




.available h1{
    text-align: center;
    padding-top: 15px;
}


@keyframes display {
    0% { background: url(istockphoto-458633357-612x612.jpg);
        background-repeat: no-repeat;}

    10% { background: url(istockphoto-945003362-612x612.jpg);
        background-repeat: no-repeat;}

    20% { background: url(istockphoto-1031157406-612x612.jpg);
        background-repeat: no-repeat;}

    30% { background: url(istockphoto-1010455772-612x612.jpg);
        background-repeat: no-repeat;}

    40% { background: url(istockphoto-458633357-612x612.jpg);
        background-repeat: no-repeat;}

    50% { background: url(istockphoto-1090411638-612x612.jpg);
        background-repeat: no-repeat;}

    60% { background: url(istockphoto-2193211858-612x612.jpg);
        background-repeat: no-repeat;}

    70% { background: url(istockphoto-2052951686-612x612.jpg);
        background-repeat: no-repeat;}

    80% { background: url(home\ care.jpg);}

    90% { background: url(istockphoto-458633357-612x612.jpg);
        background-repeat: no-repeat;}

    100% { background: url(istockphoto-458633357-612x612.jpg);
        background-repeat: no-repeat;}
}

.products {
    max-width: 100%; 
    margin: 20px;
    background-color: white;
}

.products h4 {
    background: rgb(60, 56, 56);
    width: 150px;
    text-align: center;
    color: aqua;
    font-size: 15px;
}

.category {
    background-color: white;
    margin: 40px;
    max-width: 100%;
}

.category h1 {
    text-align: center;
    margin-top: 20px;
}
.sample {
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    column-gap: 10px;

}

.drug {
    background: rgb(236, 230, 230);
    height: 400px;
    width: 30%;
    border-radius: 20px;
    margin: 20px;
    
}

.drug img {
    width: 400px;
    max-width: 250px;
    height: 200px;
    margin: 20px 50px;
}
.drug h3{
    text-align: center;
    font-weight: 700;
}
.drug button {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(255, 0, 140);
    color: white;
    border: none;
    margin-left: 35%;
}

footer {
    height: 400px;
    background: rgb(49, 47, 47);
}

#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
footer h3 {
    color: white;
    margin-top: 10px;
}

.customer {
    margin-left: 20px;
    width: 50%;
}

.company {
    width: 50%;
}

.contact {
    width: 50%;
}

.newsletter {
    width: 50%;
    margin-right: 20px;
}

.newsletter input {
    width: 200px;
    height: 40px;
    font-size: 20px;
}

.newsletter img {
    height: 150px;
    width: 200px;
}
.newsletter h2 {
    color:aqua  
}

.social {
    height: 70px;
    margin: 20px;
    border-top: 1px solid grey;
}
.social span {
    color: white;
    font-size: .7cm;
    margin: 20px;
}
footer h3 {
    margin: 20px 20px 10px 20%;
}





@media(max-width:768px) {
    
    .services {
        overflow: visible;
        display: block;
        width: 95%; 
        margin: 20px;
        height: fit-content;
    }
    
    .roles {
        display: block;
        width: 100%;
        height: 350px;
        
    }
    
    .roles img {
        height: 200px;
        width:90%;
        margin: 20px;
        
    }

    .drug {
        background: rgb(188, 234, 219);
        height: 400px;
        width: 90%;
        border-radius: 50px;
        margin: 20px;
        
    }
    
    .drug img {
        width: 400px;
        max-width: 80%;
        height: 230px;
        margin: 20px 10%;
    }
    .sample {
        display: block;
        width: 100%;
    }
    .slide {
        display:block;
        width: 100%;

    }
    .about {
        width: 100%;
    }
    
    .display {
        width: 90%;
    }
    header{
        display: none;
    }
    #mobile {
        display: flex;
    }
    #first button {
        display: none;
    }

    footer {
        height: fit-content;
    }

    footer {
        display: block;
        width: 100%;
        margin: 20px;
    }
}
    
